.herobanner {
    position: relative;
    height: 500px;
    background-image: url(../img/hero-benner.jpg);
    background-size: cover;
}

.herobanner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(49, 47, 47, 0.5);
}

.text-banner {
    position: relative;
    text-align: center;
    color: white;

}

.bg-card {
    background: #abd2ff;
    background: linear-gradient(358deg, rgba(171, 210, 255, 0.442) 0%, rgba(83, 110, 243, 0.349) 100%);
    transition: 0.2s;
}

.bg-card:hover {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3) !important;
}

.icon:hover {
    background-color: rgb(38, 10, 140) !important;
}
h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (max-width: 576px) {
  h1, .h1 {
    font-size: 25px;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (max-width: 576px) {
  h2, .h2 {
    font-size: 20px;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (max-width: 576px) {
  h3, .h3 {
    font-size: 20px;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (max-width: 576px) {
  h4, .h4 {
    font-size: 20px;
  }
}